body {
  padding-top: 70px;
  min-height: 2000px;
  background: #000000 url("../images/web/train.jpg") no-repeat center fixed;
  background-size:cover;
}

section {
  text-align: center;
}

h1 {

}

h2 {

}

h3 {

}

.jumbotron {
  background: rgba(0, 0, 0, 0.3);
}
