<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/templates/head.ejs%>
</head>

<body>
    <header>
        <%include partials/templates/navbar.ejs%>

    </header>

    <section>
        <%if(pageId==='home'){%>
        <%include partials/content/landingPage.ejs%>
		<%}else if(pageId==='about'){%>
        <%include partials/content/about.ejs%>
		<%}else if(pageId==='issues'){%>
        <%include partials/content/issues.ejs%>
		<%}else if(pageId==='map'){%>
        <%include partials/content/map.ejs%>
		<%}else if(pageId==='delay'){%>
        <%include partials/content/delay.ejs%>
		<%}else if(pageId==='login'){%>
        <%include partials/content/login.ejs%>
		<%}else if(pageId==='signup'){%>
        <%include partials/content/signup.ejs%>
		<%}else if(pageId==='delay2'){%>
        <%include partials/content/submit.ejs%>
        <%}%>

    </section>
	
	<%if(pageId==='home'){%>
    <%include partials/templates/indexfooter.ejs%>
	<%}%>

</body>

</html>
