body {
    background: #000000 url("../images/web/underground-train.jpg") no-repeat center fixed;
    background-size: cover;
}

.blur img:hover {
    opacity: 0.7;
    filter: alpha(opacity=30);
}

.img-border {
    width: 100%;
    vertical-align: bottom;
}

#minimap {
    width: 100%;
    height: 300px;
}
