@import url('//cdn.datatables.net/1.10.2/css/jquery.dataTables.css');

body{
  background: #000000 url("../images/web/train.jpg") no-repeat center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding:0;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

div.issues-Box{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

table{
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  overflow: scroll;
  overflow-y: hidden;
  color: black;
  font-size:	12px;

}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

table.dataTable thead tr {
    color: white;
	 text-align: center;
}
table.dataTable tfoot tr {
    color: white;
	 text-align: center;
}

div.TransportDiv{
    position: relative;
    margin-right: 30px;
    margin-left:  30px;
}

button.FilterButton{
  font-size: 24px;
  color: black;
  border-radius: 10px;
  margin-right: 30px;
  margin-left:  30px;
}


 td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_open.png') no-repeat right;

    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://www.datatables.net/examples/resources/details_close.png') no-repeat right;

}

div.ChildRow{
    text-align: left;
    margin-left: 20%;
    max-width: 300px;
}

div.ChildRow:before {
    content:"• ";
}
