body {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 20px;
  color: black;
  background: #000000 url("../images/web/city-map.jpg") no-repeat center fixed;

}

#map {
  height: 84vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.scrollable {
    overflow-y: auto;
    max-height: 56vh;
}

.rbox {
	margin-left: 25px;
	mrgin-right: 25px;
}

.panel-heading {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}