body {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 20px;
  color: black;
}

#map {
  height: 84vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.scrollable {
    overflow-y: auto;
    max-height: 56vh;
}

.rbox {
	margin-left: 25px;
	mrgin-right: 25px;
}