body {
    background: #000000 url("../images/web/profile.jpg") no-repeat center fixed;
    background-size: cover;
    color: #FFFFFF
}

div.profile-sidebar{
    color: #555;
}

div.profile-title{
    color: #97bf3f
}

.table-hover>tbody>tr:hover {
    background-color: #F2B035;
}

h4{
    color: #F2522E;
}