@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Knewave|Roboto');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark');

body {
    padding-top: 70px;
    background: #f2b035;
    font-family: 'Roboto', sans-serif;
}

section.centered {
    text-align: center;
}

h1 {
    font-family: 'Knewave', cursive;
    font-size: 4em;
    color: rgb(242, 82, 46);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

h1.site-title {
    font-family: 'Knewave', cursive;
    font-size: 6em;
    text-align: center;
    color: rgb(242, 82, 46);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

h1.page-title {
    font-family: 'Knewave', cursive;
    font-size: 5em;
    text-align: center;
    color: rgb(242, 82, 46);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 480px) {
    h1.site-title {
        font-size: 4em;
    }
}

h2 {
    font-family: 'Knewave', cursive;
    color: rgb(151, 191, 63);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

h3 {
    font-family: 'Palanquin Dark', sans-serif;
    color: rgb(242, 82, 46);
}

.jumbotron {
    background: rgba(0, 0, 0, 0.5);
}

nav.navbar-default {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: bold;
    font-size: 1em;
    /*background: rgb(27, 166, 140);*/
}

.panel-default {
    background: rgba(255, 255, 255, 0.8);
}

button.btn-continue {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 1.2em;
    background-color: rgb(242, 176, 53);
    border: 2px solid #000000
}

.glyphicon-warning-sign {
    margin-right: 6px;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

/* Twitter */
.fa-google {
    background: #E46F61;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.navbar-brand{
  -webkit-user-select: none;
  padding: 0 15px;
}

.navbar-brand>img {
  -webkit-user-drag: none;
  max-height: 48px;
}
