<title>About - UnDelay</title>
<link href="css/about.css" rel="stylesheet">
<div class="container">
    <div class="jumbotron about-box">
      <section>
        <h1 class="page-title">About</h1>
        <br>
        <div class="row">
          <div class="col">
              </br>
              <div>
              <h3>
                What is UnDelay?
              </h3>
                <p>
                  UnDelay provides a solution that unifies all the currently
                  available delay reporting solutions.
                </br>
                  We have merged all of these into one user driven application
                  which reports delays live and updates users that use the
                  affected lines.
                  </br>
                  The application also tracks user reported issues and displays
                  them on a map to help consumers visualise where any issues are.
                  </br>
                  In addition to user repoerted data UnDelay also makes use of
                  Melbourne's PTV provided delay information to inform users of
                  ongoing delays and news throughout the entire network.
              </p>
              <h3>
                How to use UnDelay
              </h3>
              <p>
                To begin using Undelay navigate to the
                <a href="https://undelay.me/signup">Sign Up</a> page, or if you
                have already done this continue to the
                <a href="https://undelay.me/login">Login</a> page.
                </br>
                Once you have signed up and logged in you can report delays from
                the <a href="https://undelay.me">Home</a> page or look at the
                current issues accross the network on the
                <a href="https://undelay.me/issues">Issues</a> page.
                </br>
                You can also navigate the
                <a href="https://undelay.me/map">Interactive Map</a> to see
                delays other users have reported.
              </p>
              <h3>
                Reporting a delay
              </h3>
              <p>
                On the <a href="https://undelay.me/delay">Delay</a> page, you'll
                see fields for Location, Description and Type. These 3 fields
                ensure the delays reported by yourself and other users end up
                in the right place.
                </br>
                When a delay is reported, UnDelay tags the
                information with a location on the
                <a href="https://undelay.me/map">Map</a>
                for other users to visually see where live, user reported delays
                are.
              </p>
              <h3>
                Reading the map
              </h3>
              <p>
                On the <a href="https://undelay.me/map">Map</a> page you'll see
                all of the delays entered by other users and where they were
                when they experienced the delays. </br>
                These delays could range from
                services cancellations, crashes or Myki ticket inspectors. All
                of which could slow you down and make your trip on Melbourne's
                PTV network less enjoyable.
                </br>
                You can zoom and moved around the map and click on the tag icons
                to see what the delays are, you can also select the train, tram
                or bus lines filters to highlight the path certain services take
                to visualise if particular delays lie on the route.
                You can select as many of these filters as you need.
              </p>
            </div>
          </div>

              <h3>
                How UnDelay began
              </h3>
            <p>
              The Challenge...

            Making Melbourne a better city to live in
            </p>
            <p>
              "Purposefully broad"
            </br>
              "Who doesn't want for Melbourne to be better?"
              </br>
            - Dr. Eduardo Velloso
            </br>
              <a href="http://www.eduardovelloso.com/">eduardovelloso.com</a>

            </p>

          <div class="col-sm-4">

            <img src="images/web/projectbrief.png" height="200" width="300">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">

            <img src="images/blog/templogo.png" height="240" width="260">
          </div>
          <div class="col-sm-8">
            <p>
              The Team...
            </br>
              Road To Nowhere
              </br>
              </br>
              Cameron Dempsey
              </br>
              Connor McClean
              </br>
              Paul Hellsten
              </br>
              Rory Powell
              </br>
              Sam Chung
              </p>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>
              The Plan...
              <br>
              To solve a problem within the 'transport' scope that would aid people
              in navigating around Melbourne's public transport network beyond the
              reach of other solutions.
            </p>
            <p>
              We first diversified our ideas of what could be provided and then narrowed in on the aspects
              that were most useful to commuters in a web application medium.
              </p>
          </div>
          <div class="col-sm-4">
            <img src="images/web/mindmap.jpg" height="220" width="290">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="images/web/mockup.png" height="220" width="270">
          </div>
          <div class="col-sm-8">
            <p>
              The Details...
              <br>
              Road to Nowhere tackles the problem with a subscription based notification system.
              Users select their favourite lines, routes, stations or destinations
              and 'subscribe' to updates concerning them. The updates come from a
              community driven reporting system, alike to a social network. It also
              provides other features including an interactive delay map.
              </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>
            </p>
          </div>
          <div class="col-sm-4">

          </div>
        </div>
      </section>
    </div>
  </div>
