<title>About</title>
<link href="css/about.css" rel="stylesheet">
<div class="container">
    <div class="jumbotron about-box">
      <section>
        <h1 class="page-title">About</h1>
        <br>
        <div class="row">
          <div class="col-sm-8">
            <p>
              The Challenge...
            </br>
            Making Melbourne a better city to live in
            </p>
            <p>
              "Purposefully broad"
            </br>
              "Who doesn't want for Melbourne to be better?"
              </br>
            - Dr. Eduardo Velloso
            </br>
              <a href="http://www.eduardovelloso.com/">eduardovelloso.com</a>

            </p>
          </div>
          <div class="col-sm-4">

            <img src="images/web/projectbrief.png" height="200" width="300">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">

            <img src="images/blog/templogo.png" height="240" width="260">
          </div>
          <div class="col-sm-8">
            <p>
              The Team...
            </br>
              Road To Nowhere
              </br>
              </br>
              Cameron Dempsey
              </br>
              Connor McClean
              </br>
              Paul Hellsten
              </br>
              Rory Powell
              </br>
              Sam Chung
              </p>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>
              The Plan...
              <br>
              To solve a problem within the 'transport' scope that would aid people
              in navigating around Melbourne's public transport network beyond the
              reach of other solutions.
            </p>
            <p>
              We first diversified our ideas of what could be provided and then narrowed in on the aspects
              that were most useful to commuters in a web application medium.
              </p>
          </div>
          <div class="col-sm-4">
            <img src="images/web/mindmap.jpg" height="220" width="290">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img src="images/web/mockup.png" height="220" width="270">
          </div>
          <div class="col-sm-8">
            <p>
              The Details...
              <br>
              Road to Nowhere tackles the problem with a subscription based notification system.
              Users select their favourite lines, routes, stations or destinations
              and 'subscribe' to updates concerning them. The updates come from a
              community driven reporting system, alike to a social network. It also
              provides other features including an interactive delay map.
              </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p>
            </p>
          </div>
          <div class="col-sm-4">

          </div>
        </div>
      </section>
    </div>
  </div>