<div class="col-sm-8 center">
    <div class="jumbotron issues-Box">
        <h1 class="page-title">Report a Delay - UnDelay</h1>
        <br>
        <div class="col-sm-6 center">

            <form action="/formsubmit" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="transport-type">Transportation Type</label>
                    <select name="transport-type" id="transport-type" class="form-control" onchange="changeRouteList()">
                        <option value=0 selected="selected">Metro Busses</option>
                        <option value=1>Metro Trains</option>
                        <option value=2>Metro Trams</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="routelist">Route</label>
                    <input type="text" name="routelist" id="routelist" class="form-control" list="routes-data" autocomplete="off" required>
                    <datalist id="routes-data"></datalist>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" name = "description" id="description" class="form-control" placeholder="401 bus delayed" required>
                </div>

                <div class="form-group">
                    <label for="sel1">Type:</label>
                    <select class="form-control" id="sel1" name="sel1" onchange='checkvalue(this.value)' required>
                        <option value='0'>Minor Delay</option>
                        <option value='1'>Major Delay</option>
                        <option value='2'>Cancellation of Service</option>
                        <option value='3'>Other</option>
                    </select>
                    <br>

                    <input type="text" name="delaytype" formenctype="" class="form-control" id="delaytype" style= 'display:none' placeholder = 'Ticket Inspectors'/>
                    <input type="hidden" class="form-control" id="locationdata" name="locationdata" style="display: none;" value="default"/>

                </div>

                <script>
                    var x = document.getElementById("locationdata");


                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else {
                        x.value = "Geolocation is not supported by this browser.";
                    }

                    function showPosition(position) {
                        x.value = position.coords.latitude + "," + position.coords.longitude;
                    }

                    function changeRouteList() {
                        var dataList = document.getElementById("routes-data");
                        var input = document.getElementById("routelist");

                        var request = new XMLHttpRequest();
                        request.onreadystatechange = function(response) {
                            if (request.readyState === 4) {
                                if (request.status === 200) {
                                    // Clear <datalist>
                                    dataList.innerHTML = "";
                                    // Parse the JSON
                                    var jsonOptions = JSON.parse(request.responseText);
                                    // Loop over the JSON array.
                                    jsonOptions.forEach(function(item) {
                                        // Create a new <option> element.
                                        var option = document.createElement('option');
                                        // Set the value using the item in the JSON array.
                                        option.value = item;
                                        // Add the <option> element to the <datalist>.
                                        dataList.appendChild(option);
                                    });
                                    // Update the placeholder text.
                                    input.placeholder = "e.g. "+jsonOptions[0];
                                } else {
                                    // An error occured :(
                                    input.placeholder = "Couldn't load route names :(";
                                }
                            }
                        };
                        // Update the placeholder text.
                        input.placeholder = "Loading routes...";
                        // Set up and make the request.
                        request.open('GET', '/map/route_names/'+document.getElementById("transport-type").value, true);
                        request.send();
                    }

                    changeRouteList();

                    function validateForm() {
                        var validRoute = false
                        var dataList = document.getElementById("routes-data");
                        var input = document.getElementById("routelist");
                        var options = dataList.options;
                        for (var i=0; i<options.length; i++) {
                            if (input.value === options[i].value) {
                                validRoute = true;
                            }
                        }
                        if (!validRoute) {
                            alert("Need to enter valid route name.");
                        }
                        return validRoute;
                    }
                </script>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
