
<div class="col-sm-10 center">
  <div class="jumbotron issues-Box">

    <h1 class="page-title">Current Issues</h1>
    <p>   Click on your transport choice to see the relevant delays:  </p>
	
  <div class="row">
    <div class="col-sm-10 center">
      <p>
        <div class="panel panel-default">
          <table id="table1" class="table table-responsive table-striped table-bordered">
		  <thead>
		  <tr>
			<th style="width: 20px">Method</th>
            <th style="width: 80px">Title</th>
            <th style="width: 80px">Description</th>
            <th style="width: 20px">Type</th>
            <th style="width: 20px">Status</th>
            <th style="width: 25px">From</th>
            <th style="width: 25px">To</th>
		  </tr>
		  </thead>
		  <tfoot>
		   <tr>
			<th style="width: 20px">Method</th>
            <th style="width: 80px">Title</th>
            <th style="width: 80px">Description</th>
            <th style="width: 20px">Type</th>
            <th style="width: 20px">Status</th>
            <th style="width: 25px">From</th>
            <th style="width: 25px">To</th>
		  </tr>
		  </tfoot>
		  <tbody>
          </table>
        </div>
      </div>
	  	  
    </div>
<script>
	  $.getJSON("https://timetableapi.ptv.vic.gov.au/v3/disruptions?devid=3000202&signature=91465C13C78C808005461904E474419A0247C54E", function(json) {
      console.log(json);
      var txt = "";
      var data = json["disruptions"]["metro_train"];
      console.log(data);
      for (var i = 0; i<data.length; i++) {
        txt += "<tr><td>Metro Train</td><td>"+data[i]["title"] + "</td><td>" + data[i]["description"] + "</td><td>" + data[i]["disruption_type"] + "</td><td>" + data[i]["disruption_status"] + "</td><td>" + data[i]["from_date"] + "</td><td>" + data[i]["to_date"] + "</td></tr>";
      }
      var data = json["disruptions"]["metro_bus"];
      for (var i = 0; i<data.length; i++) {
        txt += "<tr><td>Metro Bus</td><td>"+data[i]["title"] + "</td><td>" + data[i]["description"] + "</td><td>" + data[i]["disruption_type"] + "</td><td>" + data[i]["disruption_status"] + "</td><td>" + data[i]["from_date"] + "</td><td>" + data[i]["to_date"] + "</td></tr>";
      }
      var data = json["disruptions"]["metro_tram"];
      for (var i = 0; i<data.length; i++) {
        txt += "<tr><td>Metro Tram</td><td>"+data[i]["title"] + "</td><td>" + data[i]["description"] + "</td><td>" + data[i]["disruption_type"] + "</td><td>" + data[i]["disruption_status"] + "</td><td>" + data[i]["from_date"] + "</td><td>" + data[i]["to_date"] + "</td></tr>";
      }
      var data = json["disruptions"]["regional_train"];
      for (var i = 0; i<data.length; i++) {
        txt += "<tr><td>Regional Train</td><td>"+data[i]["title"] + "</td><td>" + data[i]["description"] + "</td><td>" + data[i]["disruption_type"] + "</td><td>" + data[i]["disruption_status"] + "</td><td>" + data[i]["from_date"] + "</td><td>" + data[i]["to_date"] + "</td></tr>";
      }
      var data = json["disruptions"]["regional_bus"];
      for (var i = 0; i<data.length; i++) {
        txt += "<tr><td>Regional Bus</td><td>"+data[i]["title"] + "</td><td>" + data[i]["description"] + "</td><td>" + data[i]["disruption_type"] + "</td><td>" + data[i]["disruption_status"] + "</td><td>" + data[i]["from_date"] + "</td><td>" + data[i]["to_date"] + "</td></tr>";
      }
      var data = json["disruptions"]["regional_coach"];
      for (var i = 0; i<data.length; i++) {
        txt += "<tr><td>Regional Coach</td><td>"+data[i]["title"] + "</td><td>" + data[i]["description"] + "</td><td>" + data[i]["disruption_type"] + "</td><td>" + data[i]["disruption_status"] + "</td><td>" + data[i]["from_date"] + "</td><td>" + data[i]["to_date"] + "</td></tr>";
      }
	  txt += "</tbody>";
	  $("#table1").append(txt);
	  $('#table1').DataTable( {
autoWidth: false,
    columns : [
        { width : '20px' },
        { width : '80px' },
        { width : '80px' },
        { width : '20px' },        
        { width : '20px' },
        { width : '25px' },   
		{ width : '25px' }
    ] ,
        initComplete: function () {
            this.api().columns([0,3,4]).every( function () {
                var column = this;
                var select = $('<select><option value="">Show All</option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
    });
	
	

    



</script>
</div>
</div>
