<link href="css/home.css" rel="stylesheet">
<div class="container">
    <% if (message.length > 0) { %>
      <div class="alert alert-success alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a><%= message %></div>
    <% } %>
    <section>
      <div class="jumbotron">
        <section class="centered">
          <h1 class="site-title">unDelay</h1>
          <h2>Helping you to get where you need to go</h2>
          <br>
          <br>
          <div class="row">
            <a href="/delay" class="btn btn-info" role="button">Report a Delay</a>
        </section>
      </div>
    </section>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Major Delays</h3>
          </div>
          <table class="table table-striped table-hover">
            <!--<tr class="danger">
              <td><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Tram Routes 18, 22, 54, &amp; 80</td>
              <td>Indefinitely blocked due to protest</td>
            </tr>
            <tr class="danger">
              <td><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Sunbury line</td>
              <td>32 minutes late</td>
            </tr>
            <tr class="warning">
              <td><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Watergardens line</td>
              <td>18 minutes late</td>
            </tr>
            <tr>
              <td>City Loop line</td>
              <td>6 minutes late</td>
            </tr>-->
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Station and Stop Issues</h3>
          </div>
          <table class="table table-striped table-hover">
            <!--<tr class="danger">
              <td><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Flinders Street Tram Stop</td>
              <td>Unavailable due to roadworks</td>
            </tr>
            <tr class="warning">
              <td><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Parliament Station</td>
              <td>East exit blocked</td>
            </tr>
            <tr class="warning">
              <td><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>Footscray Station</td>
              <td>Escalators broken</td>
            </tr>
            <tr>
              <td>Frankston Station</td>
              <td>All bathrooms out of order</td>
            </tr>-->
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="panel-title">Interactive Map</h3>
            <br>
            <div class = "blur" id="minimap">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/minimap.js"></script>
